.homeContent {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    padding-top:10px;
}

.homeContent-title{
    display: flex;
    width: 80%;
}
.homeContent-image{
    flex: 1 0 0%;
    text-align:right;/* and here*/
}

.homeContent-summary{
    display: flex;
    flex:1;
    font-size: 2em;
    padding-left:10px;
    font-weight: 700;
}

.homeContent-sections{
    display: flex;
    flex-direction: row;
    flex:1;
    width: 80%;
    justify-content: flex-start;
    border-bottom: 1px solid #4D4D4D;
    margin-top:20px;
    max-height: 50px;
}



.smaller-text{
    font-size: 0.6em;
}
.homeContent-text{
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size: 1em;
    flex:1;
    width:75%;
}

.detail-voice{
    padding:10px;
    color:#979797;
    font-weight: 700;
}

.detail-voice:hover{
    text-decoration: underline;
    cursor:pointer;
}

.active-voice{
    color:#C1CCCC;
    text-decoration: underline;
}
