.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  position: absolute;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #1E1E1E;
  color:white;
  overflow: hidden;
}

.page-header{
  flex:1;
  flex-direction:row;
  background-color: #3C3C3C;
  color: #CCCCCC;
  min-height: 23px;
  max-height: 23px;
  font-size: 14px;
}
.page-main {
  flex:15;
  display: flex;
}
.page-footer {
  flex-direction:row;
  background-color: #007ACC;
  color: #CCCCCC;
  flex:1;
  max-height: 23px;
}
.icon-section {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  align-items: center;
  font-size: 26px;
}

.left-sidebar {
  display: flex;
  flex:4;
  flex-direction: column;
  background-color: #252526;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 205px;
}

.menu-voice{
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  cursor:context-menu;
  height:100%;
}
.menu-voice:hover{
  background-color: #505050;  
}
.body {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Consolas';
  src: local('Consolas'), url(./font/Consolas.woff) format('woff');
}